<div class="completeControllerPage" style="color: white;">
    <div class="complete-message">
        <h2 class="final-header">Приятного<br/>аппетита!</h2>
        <h2 class="sub-final-header">Понравилось? Поделитесь рецептом с друзьями!</h2>

        <div>
            <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
            <div class="pluso" data-background="none;" data-options="big,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="vkontakte,facebook,twitter,google" data-url="http://staycalmandcook.azurewebsites.net" data-title="staycalmandcook" data-description="Лучший помощник для тех, кто хочет приготовить суп!"></div>
       
        </div>
    </div>
</div>